/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
  text-align: center;
  font-size: 2em;
  padding: 24px 0;
}

#individual-post-date {
  border-top: 1px solid #f1f4f8;
  border-bottom: 1px solid #f1f4f8;
  padding: 24px 0;
  color: #abd5bd;
  padding-left: 16px;
}

#individual-post-content {
  padding: 24px 16px;
  color: #495057;
  line-height: 1.4;
}
