body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 350px;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-page header, .new-post-page header {
  background-image: url(/assets/banner.jpeg);
}

header > * {
  z-index: 10;
}

/* This removes for all links ('a') */
/* .post-link {
  text-decoration: none;
} */

/* This only removes for links ('a') with the class: 'post-link' */
a.post-link {
  text-decoration: none;
}

header::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(0, 0, 0, 0.7);
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url(/assets/jason_profile.jpg);
  background-size: cover;
}

.profile-name, .title {
  font-size: 3em;
  font-weight: bold;
}

.subtitle {
  margin-top: 8px;
}

.main {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.main-container {
  justify-content: center;
  max-width: 980px;
  min-width: 600px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  /* background-color: blue; */
}

.main-container.blog-posts {
  text-decoration: none;
}

.post {
  display: flex;
  border: 1px solid rgba(201, 189, 189, 0.514);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  min-height: 200px;
  overflow: hidden;
  margin-top: 24px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

.post:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
  -o-transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.post-image {
  flex-basis: 30%;
  background-size: cover;
}

.post-content {
  flex-basis: 70%;
  padding: 24px;
}

.post-date {
  font-size: 12px;
  color: #adb5bd;
  font-weight: 600;
}

.post-title {
  font-size: 1.5em;
  margin-top: 16px;
  color: #333;
  font-weight: 700;
}

.post-title h4 {
  margin: 0;
}

.post-text {
  margin-top: 4px;
  color: #495057;
  font-weight: 400;
  line-height: 1.4;
  max-height: 65px;
  overflow: hidden;
}

footer {
  min-height: 100px;
  background-color: #eaecee70;
  color: #929eaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.nav-button.new-post-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004186;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
  background-color: #002349;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
  -o-transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.navigation {
  text-decoration: none;
  width: fit-content;
  color: #004186;
  border: 1px solid #004186;
  border-radius: 5px;
  padding: 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
